---
import { db, eq } from "astro:db";
import Layout from "../../layouts/Layout.astro";
import { Student } from "astro:db";
import { Courses } from "astro:db";
import { Note } from "astro:db";

const { studentId } = Astro.params;

const studentIdNumber = Number(studentId);

if (!studentIdNumber) return (window.location.href = "/");

const studentResult = await db
  .select({
    id: Student.id,
    first_name: Student.first_name,
    last_name: Student.last_name,
    course: Courses.title,
  })
  .from(Student)
  .innerJoin(Courses, eq(Student.course, Courses.id))
  .where(eq(Student.id, studentIdNumber));

const student = studentResult[0];

const notes = await db
  .select()
  .from(Note)
  .where(eq(Note.studentId, studentIdNumber));
---

<Layout title="test">
  <h1>{student.first_name} {student.last_name}</h1>
  <p>{student.course}</p>
  <form class="container">
    <fieldset role="group">
      <input
        type="number"
        aria-hidden
        readonly
        value={student.id}
        hidden
        name="student_id"
      />
      <input type="text" name="body" id="body" />
      <button
        type="button"
        hx-swap="beforeend"
        hx-post="/partials/new_note"
        hx-target="#notes_container">Erstellen</button
      >
    </fieldset>
  </form>
  <ul id="notes_container">
    {
      notes.map((note) => (
        <div class="note-wrapper" id={`note-${note.id}`}>
          <li class="note">
            <p>{note.body}</p>
          </li>
          <button
            type="button"
            class="outline"
            hx-delete={`/api/notes/${note.id}`}
            hx-target={`#note-${note.id}`}
            hx-trigger="click once"
          >
            <img
              src="/spinner-delete.svg"
              alt="loading..."
              class="htmx-indicator"
            />
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="24px"
              height="24px"
              viewBox="0 0 24 24"
              class="trash-icon"
            >
              <path
                fill="currentColor"
                d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"
              />
            </svg>
          </button>
        </div>
      ))
    }
  </ul>
</Layout>

<style>
  ul {
    border: 2px solid #3232327f;
    border-radius: 0.5rem;
    box-shadow: 2px 2px 2px #3232327f;
  }
  .note p {
    line-clamp: 1 !important;
  }
</style>
