---
import { eq } from "astro:db";
import { Student } from "astro:db";
import { db } from "astro:db";

interface Props {
  courseId: number;
}

const { courseId } = Astro.props;
// const courseId = Astro.props.courseId;
// Object-Destructuring

const students = await db
  .select()
  .from(Student)
  .where(eq(Student.course, courseId));
---

<ul>
  {
    students.map((student) => (
      <div class="note-wrapper" id={`student-${student.id}`}>
        <a href={`/student/${student.id}`}>
          <li>
            <h3>
              {student.first_name} {student.last_name}
            </h3>
          </li>
        </a>
        <button
          type="button"
          class="outline"
          hx-delete={`/api/students/${student.id}`}
          hx-target={`#student-${student.id}`}
          hx-trigger="click once"
        >
          <img
            src="/spinner-delete.svg"
            alt="loading..."
            class="htmx-indicator"
          />
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="24px"
            height="24px"
            viewBox="0 0 24 24"
            class="trash-icon"
          >
            <path
              fill="currentColor"
              d="M19 4h-3.5l-1-1h-5l-1 1H5v2h14M6 19a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V7H6z"
            />
          </svg>
        </button>
      </div>
    ))
  }
</ul>

<style>
  li {
    padding: 10px;
    border-radius: 5px;
  }
  h3 {
    margin: 0;
  }
</style>
